# Directories
.git/
.hooks/
.github/
tmp/
vendor/
scripts/
node_modules/
internal/test/
internal/db/queries/
internal/db/migrations/

# Files
.*
*.out
**/*_test.go 
compose.yaml
Dockerfile
LICENSE
Makefile
README.md
sqlc.yaml
