services:
  api:
    image: ghcr.io/ccrsxx/api:latest
    container_name: api
    restart: unless-stopped
    ports:
      - '4000:4000'
    env_file:
      - .env
    environment:
      - TZ=Asia/Jakarta
      - PORT=4000
      - APP_ENV=production
    read_only: true
    cap_drop:
      - ALL
    security_opt:
      - 'no-new-privileges:true'
    user: '10001:10001'
