name: CI

on:
  workflow_call:
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  setup-go-version:
    uses: ./.github/workflows/extract-go-version.yaml

  lint:
    name: Lint
    runs-on: self-hosted

    needs: setup-go-version

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version: ${{ needs.setup-go-version.outputs.go-version }}

      - name: Check code lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.8.0

  test:
    name: Test
    runs-on: self-hosted

    needs: setup-go-version

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version: ${{ needs.setup-go-version.outputs.go-version }}

      - name: Run tests
        run: make test

  format:
    name: Format
    runs-on: self-hosted

    needs: setup-go-version

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version: ${{ needs.setup-go-version.outputs.go-version }}

      - name: Check code format
        run: make format
