name: CI

on:
  workflow_call:
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  extract-tools-version:
    uses: ./.github/workflows/extract-tools-version.yaml

  lint:
    name: Lint
    runs-on: self-hosted

    needs: extract-tools-version

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version: ${{ needs.extract-tools-version.outputs.go-version }}

      - name: Run linter
        uses: golangci/golangci-lint-action@v9
        with:
          version: ${{ needs.extract-tools-version.outputs.golangci-lint-version }}

  test:
    name: Test
    runs-on: self-hosted

    needs: extract-tools-version

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version: ${{ needs.extract-tools-version.outputs.go-version }}

      - name: Run tests
        run: make test

  format:
    name: Format
    runs-on: self-hosted

    needs: extract-tools-version

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version: ${{ needs.extract-tools-version.outputs.go-version }}

      - name: Run formatter
        run: make format
