name: Deployment

run-name: ${{ github.event_name == 'workflow_dispatch' && format('Manual deploy / {0}', inputs.sha || github.sha) || format('Automatic deploy / {0}', github.event.head_commit.message) }}

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      sha:
        description: 'Commit SHA to deploy'
        required: false

jobs:
  ci:
    uses: ./.github/workflows/ci.yaml

  extract-tools-version:
    uses: ./.github/workflows/extract-tools-version.yaml

  deploy:
    name: Build and deploy via Docker on VPS
    runs-on: self-hosted
    environment: production

    needs:
      - ci
      - extract-tools-version

    permissions:
      packages: write

    env:
      SHA: ${{ inputs.sha || github.sha }}
      LATEST_IMAGE: 'ghcr.io/${{ github.repository }}:latest'

      CURRENT_IMAGE: ''

    steps:
      - name: Set current image tag
        run: |
          echo "CURRENT_IMAGE=ghcr.io/${{ github.repository }}:${{ env.SHA }}" >> $GITHUB_ENV

      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          ref: ${{ env.SHA }}

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          platforms: linux/arm64
          build-args: |
            GO_VERSION=${{ needs.extract-tools-version.outputs.go-version }}
          push: true
          tags: |
            ${{ env.LATEST_IMAGE }}
            ${{ env.CURRENT_IMAGE }}
          cache-from: type=registry,ref=${{ env.LATEST_IMAGE }}
          cache-to: type=inline

      - name: Setup env
        run: |
          echo "SECRET_KEY=${{ secrets.SECRET_KEY }}" >> .env
          echo "ALLOWED_ORIGINS=${{ secrets.ALLOWED_ORIGINS }}" >> .env

          echo "IPINFO_TOKEN=${{ secrets.IPINFO_TOKEN }}" >> .env

          echo "JELLYFIN_URL=${{ secrets.JELLYFIN_URL }}" >> .env
          echo "JELLYFIN_API_KEY=${{ secrets.JELLYFIN_API_KEY }}" >> .env
          echo "JELLYFIN_USERNAME=${{ secrets.JELLYFIN_USERNAME }}" >> .env
          echo "JELLYFIN_IMAGE_URL=${{ secrets.JELLYFIN_IMAGE_URL }}" >> .env

          echo "SPOTIFY_CLIENT_ID=${{ secrets.SPOTIFY_CLIENT_ID }}" >> .env
          echo "SPOTIFY_CLIENT_SECRET=${{ secrets.SPOTIFY_CLIENT_SECRET }}" >> .env
          echo "SPOTIFY_REFRESH_TOKEN=${{ secrets.SPOTIFY_REFRESH_TOKEN }}" >> .env

      - name: Deploy with Docker Compose
        run: |
          docker compose pull
          docker compose up -d
